<footer id="userSideFooter">
    <div class="footerContentContainer">
        Conçu et developpé en 2024 par
        <a href="https://www.simonbenet.com" target="_blank" title="Lien vers le site simonbenet.com">Simon Bénet</a> |
        Modèle 3D par 
        <a href="" target="_blank" title="">Paul Bénet</a>
    </div>
</footer>